.wasd-notify,
.wasd-notify--hidden,
.wasd-notify--subscribed
{
    position: fixed;
    z-index: 9999999;
    top: 8px;
    right: 165px;

    width: 32px;
    height: 32px;
    padding: 6px;

    cursor: pointer;

    color: var(--wasd-color-text-second);
    border: none;
    border-radius: .4rem;
    outline: none;
    background: none;
}

.wasd-notify--hidden
{
    display: none;
}

.wasd-notify--subscribed svg
{
    fill: var(--wasd-color-text-second);
}

.wasd-notify:hover,
.wasd-notify:focus
{
    background: rgba(var(--wasd-color-black--rgb),.08);
}
