/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Document
# Header
# Main
# Modal
# Animations
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# DOCUMENT
--------------------------------------------------------------*/

html,
body {
	font: 400 16px sans-serif;

	display: flex;
	overflow: hidden;
	flex-direction: column;

	width: 320px;
	height: 500px;
	margin: 0;

	color: rgba(255, 255, 255, .8);
	background: #141820;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar:hover {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, .2);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, .3);
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

header {
	z-index: 1;

	display: flex;

	box-sizing: border-box;
	height: 48px;
	padding: 0 16px;

	background: #1a202c;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .08);

	justify-content: flex-start;
	align-items: center;
}

header a:first-child {
	margin: 0 8px 0 0;
}

header a:not(:first-child) {
	font-size: 10px;
	font-weight: 700;

	display: inline-flex;

	height: 32px;
	margin: 2px 4px 0;
	padding: 0 8px;

	text-decoration: none;

	color: rgba(255, 255, 255, .8);
	border-radius: 6px;

	justify-content: center;
	align-items: center;
}

header a:not(:first-child):focus,
header a:not(:first-child):hover {
	cursor: pointer;

	opacity: .64;
	background-color: rgba(0, 0, 0, .08);
}

header a[data-active=true] {
	color: rgb(0, 143, 236);
}

header img {
	height: 20px;
}


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

main {
	display: flex;
	overflow-y: scroll;
	flex-direction: column;

	padding: 0 16px;

	flex: 1;
}

main a {
	text-decoration: none;

	color: inherit;
}

h1 {
	font-size: 14px;
	line-height: 1.17;

	margin: 8px 0;

	color: #fff;
}

.search-field {
	font-size: 14px;

	position: relative;
	z-index: 1;

	box-sizing: border-box;
	min-height: 32px;
	margin: 16px 0;
	padding: 0 8px;

	color: #fff;
	border: 1px solid rgba(0, 0, 0, .48);
	border-radius: 4px;
	outline: 0;
	background-color: rgba(0, 0, 0, .24);
}

.search-field:focus,
.search-field:hover {
	border-color: rgb(0, 143, 236);
}

.list-item {
	position: relative;

	display: flex;

	margin: 2px 0;
	padding: 8px 0;

	cursor: default;
	cursor: pointer;

	justify-content: flex-start;
	align-items: center;
}

.list-item:hover {
	color: rgba(255, 255, 255, .64);
	background-color: rgba(0, 0, 0, .08);
}

.list-item__image {
	overflow: hidden;

	width: 40px;
	height: 40px;
	margin: 0 16px 0 0;

	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.list-item__info {
	overflow: hidden;

	flex: 1;
}

.list-item__name {
	font-weight: 700;

	overflow: hidden;
}

.list-item__game-name {
	font-size: 13px;
	font-weight: 700;

	margin: 2px 0;

	white-space: nowrap;

	opacity: .48;
}

.list-item__data {
	display: flex;
}

.list-item--live .list-item__name::after {
	position: relative;
	top: -1px;

	display: inline-block;

	width: 8px;
	height: 8px;
	margin: 0 0 0 6px;

	content: '';

	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #d85252;
}

.list-item__followers-count {
	font-size: 12px;
	font-weight: 700;

	display: flex;

	margin: 2px 0 0;

	opacity: .48;

	align-items: center;
}

.list-item__followers-count:not(:empty)::after {
	position: relative;
	top: -1px;

	display: inline-block;

	width: 14px;
	height: 14px;
	margin: 0 0 0 2px;

	content: '';

	background: url(../svg/person.svg) no-repeat center;
}

.list-item__viewers-count {
	font-size: 12px;
	font-weight: 700;

	display: flex;

	margin: 2px 0 0 8px;

	opacity: .48;

	align-items: center;
}

.list-item__viewers-count:not(:empty)::after {
	position: relative;
	top: -1px;

	display: inline-block;

	width: 14px;
	height: 14px;
	margin: 0 0 0 4px;

	content: '';

	background: url(../svg/visibility.svg) no-repeat center;
}

.list-item__duration {
	font-size: 12px;
	font-weight: 700;

	display: flex;

	margin: 2px 0 0 8px;

	opacity: .48;

	align-items: center;
}

.list-item__button {
	width: 40px;
	height: 40px;
	padding: 8px;

	cursor: pointer;
	transition: 200ms;

	opacity: .48;
	color: inherit;
	border: none;
	outline: none;
	background: url(../svg/notifications.svg) no-repeat center;
	background-size: 24px;
}

.list-item__button:hover {
	transform: scale(1.33);

	opacity: .8;
}

.list-item__button--active {
	opacity: .8;
	background-image: url(../svg/notifications-active.svg);
}

.list-item__button--active:hover {
	opacity: 1;
}


/*--------------------------------------------------------------
# GAMES
--------------------------------------------------------------*/

.game {
	float: left;

	box-sizing: border-box;
	width: calc(50% - 8px);
	height: 192px;
	margin-bottom: 16px;

	cursor: pointer;
	transition: transform 400ms;

	border: 1px solid rgba(0, 0, 0, .48);
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.game:nth-child(2n + 1) {
	margin-right: 16px;
}

.game:focus,
.game:hover {
	transform: scale(1.05);

	border-color: rgb(0, 143, 236);
}


/*--------------------------------------------------------------
# EMPTY
--------------------------------------------------------------*/

.empty-content {
	display: flex;
	flex-direction: column;

	margin: 32px 0;

	text-align: center;

	color: rgba(255, 255, 255, .64);

	align-items: center;
}

.empty-content::before {
	width: 96px;
	height: 96px;
	margin: 0 0 16px 0;

	content: '';

	background: url(https://static.wasd.tv/assets/fe/images/svg-content/search-begin.svg) no-repeat center;
}


/*--------------------------------------------------------------
# MODAL
--------------------------------------------------------------*/

.modal {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;

	width: 100%;
	height: 100%;

	justify-content: center;
	align-items: center;
}

.modal__scrim {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	animation: fadeIn 150ms linear forwards;

	opacity: 0;
	background-color: rgba(0, 0, 0, .64);
}

.modal--closing .modal__scrim {
	animation: fadeOut 70ms linear forwards;
}

.modal__surface {
	position: relative;

	display: flex;

	box-sizing: border-box;
	min-width: 280px;
	max-width: calc(100% - 32px);
	min-height: 32px;
	max-height: calc(100% - 32px);
	padding: 8px;

	transform: scale(.8);
	animation: zoomIn 150ms linear forwards;
	animation-delay: 20ms;

	opacity: 0;
	border-radius: 4px;
	background: #222a3a;

	flex-wrap: wrap;
	justify-content: flex-end;
}

.modal--closing .modal__surface {
	animation: zoomOut 70ms linear forwards;
}

.modal__surface h1 {
	font-size: 16px;
	line-height: normal;

	width: 100%;
	margin: 8px;
}

.modal__surface button {
	font: inherit;
	font-size: 12px;
	font-weight: 700;

	position: relative;

	display: inline-flex;
	overflow: hidden;

	height: 32px;
	margin: 0 0 0 8px;
	padding: 4px 8px;

	transition: background 140ms;
	text-transform: uppercase;

	color: inherit;
	color: #00b7ff;
	border: none;
	border-radius: 4px;
	outline: none;
	background: transparent;

	appearance: none;
	align-items: center;
}

.modal__surface button:hover {
	cursor: pointer;

	background: rgba(255, 255, 255, .08);
}


/*--------------------------------------------------------------
# ANIMATIONS
--------------------------------------------------------------*/

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes zoomIn {
	from {
		transform: scale(.8);

		opacity: 0;
	}

	to {
		transform: scale(1);

		opacity: 1;
	}
}

@keyframes zoomOut {
	from {
		transform: scale(1);

		opacity: 1;
	}

	to {
		transform: scale(.8);

		opacity: 0;
	}
}