/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Document
# Header
# Main
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# DOCUMENT
--------------------------------------------------------------*/

html,
body
{
    font: 400 16px sans-serif;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 320px;
    height: 500px;
    margin: 0;

    color: rgba(255, 255, 255, .8);
    background: #141820;
}

::-webkit-scrollbar
{
    background-color: rgba(255,255,255,.1);
}

::-webkit-scrollbar-thumb
{
    background-color: rgba(255,255,255,.1);
}


/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/

header
{
    z-index: 1;

    display: flex;

    box-sizing: border-box;
    height: 48px;
    padding: 0 16px;

    background: #1a202c;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .08);

    justify-content: flex-start;
    align-items: center;
}

header a:not(:first-child)
{
    font-size: 10px;
    font-weight: 700;

    display: inline-flex;

    height: 32px;
    margin: 2px 4px 0;
    padding: 0 8px;

    text-decoration: none;

    color: rgba(255, 255, 255, .8);
    border-radius: 6px;

    justify-content: center;
    align-items: center;
}

header a:not(:first-child):focus,
header a:not(:first-child):hover
{
    color: rgba(255, 255, 255, .64);
    background-color: rgba(0,0,0,.08);
}

header img
{
    height: 20px;
}


/*--------------------------------------------------------------
# MAIN
--------------------------------------------------------------*/

main
{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;

    padding: 0 16px;

    flex: 1;
}

main a
{
    text-decoration: none;

    color: inherit;
}

h1
{
    font-size: 14px;
    line-height: 1.17;

    margin: 8px 0;

    color: #fff;
}

.search-field
{
    font-size: 14px;

    position: relative;
    z-index: 1;

    box-sizing: border-box;
    min-height: 32px;
    margin: 16px 0;
    padding: 0 8px;

    color: #fff;
    border: solid 1px rgba(255,255,255,.48);
    border-radius: 4px;
    outline: 0;
    background-color: transparent;
}

.list-item
{
    position: relative;

    display: flex;

    margin: 2px 0;
    padding: 8px 0;

    cursor: default;

    justify-content: flex-start;
    align-items: center;
}

.list-item:hover
{
    color: rgba(255, 255, 255, .64);
    background-color: rgba(0,0,0,.08);
}

.list-item__image
{
    overflow: hidden;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-item__name
{
    font-weight: 700;

    overflow: hidden;

    width: 200px;
    margin: 0 0 0 16px;
}

.list-item__notify
{
    width: 40px;
    height: 40px;
    padding: 8px;

    cursor: pointer;
    transition: 200ms;

    color: inherit;
    border: none;
    outline: none;
    background: transparent;
}

.list-item__notify:hover
{
    transform: scale(1.2);
}

.list-item__notify--followed
{
    color: #f00;
}

.list-item__notify svg
{
    width: 100%;
}
